body{
	background: black;
	padding: 0;
	margin: 0;
	color: white;
}

.border{
	border: 3px solid white;
}

.main-roll{
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 10% 90%;
	grid-template-columns: 80% 20%;
	grid-template-areas:
		"header table"
		"roll table";
	grid-gap: 1px;
}

.main-header{
	grid-area: header;		
	display: grid;
	grid-template-columns: 40% 30% 30%;
}

.main-roll-display{
	grid-area: roll;
	display: grid;
	grid-template-rows: repeat(10,10%);
}

.main-table-display{
	grid-area: table;
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	justify-items: center;
	align-items: center;
}

.tables-entry{
	height: 100%;
	width: 100%;
	display: grid;
  justify-items: center;
  align-items: center;
}

.main-roll-list{
width: 90%;
height: 90%;
	list-style: none;
}

.main-roll-entry{
	display:grid;
	grid-template-columns: 20% 80%;
}

.token-roll{
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 10% 90%;
	grid-gap: 1px;
}

.token-roll-display{
	display: grid;
}

.token-header{
	display: grid;	
	grid-template-columns: 33% 33% 33%;
}

.token-roll-entry{
	display: grid;	
	grid-template-columns: 10% 90%;
	font-size: x-small;
}
